[flake8]
max-line-length = 88
# the default ignores minus E704
ignore =
    E121,
    E123,
    E126,
    E226,
    E24,
    # ignore E501 as some URLs in the docs are long and adding noqa to the lines messes up the documentation
    E501,
    W503,
    W504,
    # ignore W291 because formatting of variable docstrings triggers this.
    W291,
    # ignore W293 because PyCharm inserts blanks in docstring. See https://github.com/NilsJPWerner/autoDocstring/issues/34
    W293